In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/processed/1965-1984_10-14.tsv', sep='\t', index_col=0)
df

,Choice,AB Bookman's Weekly,Publishers Weekly,Esquire,Booklist,Journal of Aesthetics and Art Criticism,International Philosophical Quarterly,Journal of Marketing,Harvard Law Review,Journal of Business Education,...,Computers and the Humanities,American Arts,Essays on Canadian Writing`,Performing Arts Review,"Journal of Arts Management, Law, and Society","Studio International, Review",Journal of Black Studies,Book: the Magazine for Reading Life,Lone Star Review,Aspen Journal of the Arts
"A, Brandon",1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"AAGAARD-MOGENSEN, Lars",1,0,0,0,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"AAKER, David A",1,0,0,0,1,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
"AALTO, Alvar",3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"AARDEMA, Verna",1,0,7,0,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"JOHN, Martha T",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"KERSCHNER, Paul",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"MYERS, Phyllis",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"REGNIER, Victor",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"MELLON, Susan",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
# adding row and column totals
df['Total'] = df.sum(axis=1)
df.loc['Total'] = df.sum()

In [15]:
df['Reviews Per Book'] = df['Total Reviews'] / df['Total Books']
df

,Choice,AB Bookman's Weekly,Publishers Weekly,Esquire,Booklist,Journal of Aesthetics and Art Criticism,International Philosophical Quarterly,Journal of Marketing,Harvard Law Review,Journal of Business Education,...,Performing Arts Review,"Journal of Arts Management, Law, and Society","Studio International, Review",Journal of Black Studies,Book: the Magazine for Reading Life,Lone Star Review,Aspen Journal of the Arts,Total Books,Total Reviews,Reviews Per Book
"A, Brandon",1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.000000
"AAGAARD-MOGENSEN, Lars",1,0,0,0,0,3,1,0,0,0,...,0,0,0,0,0,0,0,3,5,1.666667
"AAKER, David A",1,0,0,0,1,0,0,4,1,1,...,0,0,0,0,0,0,0,3,11,3.666667
"AALTO, Alvar",3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,5,2.500000
"AARDEMA, Verna",1,0,7,0,10,0,0,0,0,0,...,0,0,0,0,0,0,0,10,107,10.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"KERSCHNER, Paul",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.000000
"MYERS, Phyllis",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.000000
"REGNIER, Victor",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,1.000000
"MELLON, Susan",0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,1.000000
Total,91013,4451,56014,630,63548,966,166,625,384,550,...,1,1,2,1,1,1,2,355544,1068885,3.006337

Let's see which of our authors got the most reviews per book catalogued by the Index.

In [22]:
# let's see which authors got the most reviews per book
by_ratio = df.sort_values(by='Reviews Per Book', ascending=False)
for i, row in by_ratio.head(25).iterrows():
    print(i, row['Reviews Per Book'], row['Total Reviews'], row['Total Books'])

CARO, Robert A 45.5 91.0 2.0
BAIR, Deirdre 44.0 44.0 1.0
ATLAS, James 43.0 43.0 1.0
PIRSIG, Robert M 43.0 43.0 1.0
MURRAY, K M Elisabeth 42.0 42.0 1.0
JOHANSON, Donald C 40.0 40.0 1.0
DEAN, John W 40.0 40.0 1.0
MARTIN, Robert B 40.0 40.0 1.0
TOOLE, John K 37.0 37.0 1.0
ALLILUYEVA, Svetlana 37.0 37.0 1.0
STOBAUGH, Robert 37.0 37.0 1.0
BERG, A Scott 37.0 37.0 1.0
SHOSTAKOVICH, Dmitri 37.0 37.0 1.0
DICKSTEIN, Morris 36.0 36.0 1.0
DOUGLAS, Ann 36.0 36.0 1.0
EMERSON, Gloria 35.0 35.0 1.0
JAMES, PD 35.0 35.0 1.0
DEVLIN, Bernadette 35.0 35.0 1.0
ROSENGARTEN, Theodore 35.0 35.0 1.0
MORRIS, Edmund 34.0 34.0 1.0
REICH, Charles 34.0 68.0 2.0
RODRIGUEZ, Richard 34.0 34.0 1.0
BOK, Sissela 34.0 68.0 2.0
ALULUYEVA, Svetlana 34.0 34.0 1.0
WHARTON, William 33.5 67.0 2.0

Seems like that honor most often goes to authors who wrote 1 or 2 very famous or well-regarded books.

The picture looks different when we simply look at the authors with the highest raw numbers of reviews.

In [27]:
by_total = df.sort_values(by='Total Reviews', ascending=False)
for i, row in by_total.head(25).iterrows():
    print(i, int(row['Total Books']), int(row['Total Reviews']))

Total 355544 1068885
ASIMOV, Isaac 250 1264
SINGER, Isaac Bashevis 53 573
SIMENON, Georges 122 568
UPDIKE, John 32 553
SILVERBERG, Robert 149 552
OATES, Joyce Carol 44 506
SOLZHENITSYN, Aleksandr 44 489
CREASEY, John 164 465
MAILER, Norman 30 451
NABOKOV, Vladimir 43 446
WILSON, John Anthony Burgess 30 438
DE PAOLA, Tomie 52 430
THEROUX, Paul 22 428
MURDOCH, Iris 23 414
VIDAL, Gore 31 401
ROCKWELL, Anne 70 396
YOLEN, Jane 64 380
SIMON, Seymour 84 377
LESSING, Doris 52 375
AIKEN, Joan 60 373
SELSAM, Millicent E 70 359
SHAKESPEARE, William 143 353
DICKINSON, Peter 34 350
AUCHINCLOSS, Louis 31 348

In [1]:
df[df.sum(axis=1) >= 20]

NameError: name 'df' is not defined